@inherits LayoutComponentBase

<div class="page">
    <nav class="navbar">
        <a href="/" class="navbar-brand">Muxity</a>
        <div class="navbar-end">
            <AuthDisplay />
        </div>
    </nav>

    <main>
        @Body
    </main>
</div>
